---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "arr.resourceName" (dict "ctx" . "extraResourceName" "main") }}
  labels: {{ include "arr.metadata.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector: {{ include "arr.metadata.selectorLabels" . | nindent 4 }}
