{{- if .Values.ingress.enabled }}
{{- with (.Values.ingress.host | required "Missing value for .ingress.host") }}{{ end }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: bookstack
  labels: {{ include "bookstack.metadata.labels" . | nindent 4 }}
  {{- if .Values.ingress.annotations }}
  annotations: {{ .Values.ingress.annotations | toYaml | nindent 4}}
  {{- end }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  tls:
    - hosts:
        - {{ .Values.ingress.host }}
      secretName: {{ include "bookstack.resourceName" (dict "ctx" . "extraResourceName" "cert")}}
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: "/"
            pathType: Prefix
            backend:
              service:
                name: bookstack
                port:
                  number: 8080
{{- end }}