---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "omada-controller.resourceName" (dict "ctx" . "extraResourceName" "main") }}
  labels: {{ include "omada-controller.metadata.labels" . | nindent 4 }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels: {{ include "omada-controller.metadata.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels: {{ include "omada-controller.metadata.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "omada-controller.resourceName" (dict "ctx" . "extraResourceName" "main") }}
      restartPolicy: Always
      securityContext:
        runAsUser: 508
        runAsGroup: 508
        runAsNonRoot: true
        fsGroup: 508
        fsGroupChangePolicy: "OnRootMismatch"
        seccompProfile:
          type: RuntimeDefault
      terminationGracePeriodSeconds: 60 # Allow time for bundled MongoDB to shut down
      containers:
        - name: controller
          image: {{ .Values.image.repository | required "Missing image repository" }}:{{ .Values.image.tag | default .Chart.AppVersion }}
          imagePullPolicy: Always
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          ports:
            - name: manage-http
              containerPort: 8088
              protocol: TCP
            - name: manage-https
              containerPort: 8043
              protocol: TCP
            - name: portal-https
              containerPort: 8843
              protocol: TCP
            - name: app-discovery
              containerPort: 27001
              protocol: UDP
            - name: discovery
              containerPort: 29810
              protocol: UDP
            - name: manager-v1
              containerPort: 29811
              protocol: TCP
            - name: adopt-v1
              containerPort: 29812
              protocol: TCP
            - name: upgrade-v1
              containerPort: 29813
              protocol: TCP
            - name: manager-v2
              containerPort: 29814
              protocol: TCP
            - name: transfer-v2
              containerPort: 29815
              protocol: TCP
            - name: rtty
              containerPort: 29816
              protocol: TCP
          envFrom:
            - configMapRef:
                name: {{ include "omada-controller.resourceName" (dict "ctx" . "extraResourceName" "config") }}
                optional: false
          volumeMounts:
            - name: data
              mountPath: /opt/tplink/EAPController/data
            - name: logs
              mountPath: /opt/tplink/EAPController/logs
      volumes:
{{- range $volume, $spec := .Values.persistence }}
        - name: {{ $volume }}
{{- if $spec.enabled }}
          persistentVolumeClaim:
            claimName: {{ include "omada-controller.resourceName" (dict "ctx" $ "extraResourceName" $volume) }}
{{- else }}
          emptyDir: {}
{{- end }}
{{- end }}
