---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "omada-controller.resourceName" (dict "ctx" . "extraResourceName" "web-ui") }}
{{- if .Values.services.webUI.additionalAnnotations }}
  annotations: {{ .Values.services.webUI.additionalAnnotations | toYaml | nindent 4 }}
{{- end }}
{{- if .Values.services.webUI.additionalLabels }}
  labels: {{ .Values.services.webUI.additionalLabels | toYaml | nindent 4 }}
{{- end }}
spec:
  externalTrafficPolicy: Cluster
  internalTrafficPolicy: Cluster
  selector: {{ include "omada-controller.metadata.selectorLabels" . | nindent 4 }}
  type: {{ .Values.services.webUI.type }}
  ports:
    - name: web-ui-http
      targetPort: manage-http
      port: 8088
      protocol: TCP
    - name: web-ui-https
      targetPort: manage-https
      port: 8043
      protocol: TCP
{{- if eq .Values.services.webUI.type "LoadBalancer" }}
  loadBalancerSourceRanges: {{ empty .Values.services.webUI.loadBalancerRanges | ternary list (.Values.services.webUI.loadBalancerRanges | toYaml | nindent 4) }}
{{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "omada-controller.resourceName" (dict "ctx" . "extraResourceName" "captive-portal") }}
{{- if .Values.services.portal.additionalAnnotations }}
  annotations: {{ .Values.services.portal.additionalAnnotations | toYaml | nindent 4 }}
{{- end }}
{{- if .Values.services.portal.additionalLabels }}
  labels: {{ .Values.services.portal.additionalLabels | toYaml | nindent 4 }}
{{- end }}
spec:
  externalTrafficPolicy: Cluster
  internalTrafficPolicy: Cluster
  selector: {{ include "omada-controller.metadata.selectorLabels" . | nindent 4 }}
  type: {{ .Values.services.portal.type }}
  ports:
    - name: portal-https
      targetPort: portal-https
      port: 8843
      protocol: TCP
{{- if eq .Values.services.portal.type "LoadBalancer" }}
  loadBalancerSourceRanges: {{ empty .Values.services.portal.loadBalancerRanges | ternary list (.Values.services.portal.loadBalancerRanges | toYaml | nindent 4) }}
{{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "omada-controller.resourceName" (dict "ctx" . "extraResourceName" "controller-tcp") }}
{{- if .Values.services.controller.additionalAnnotations }}
  annotations: {{ .Values.services.controller.additionalAnnotations | toYaml | nindent 4 }}
{{- end }}
  labels: {{ include "omada-controller.metadata.labels" . | nindent 4 }}
{{- if .Values.services.controller.additionalLabels }}
{{ .Values.services.controller.additionalLabels | toYaml | nindent 4 }}
{{- end }}
spec:
  externalTrafficPolicy: Cluster
  internalTrafficPolicy: Cluster
  selector: {{ include "omada-controller.metadata.selectorLabels" . | nindent 4 }}
  type: {{ .Values.services.controller.type }}
{{- if eq .Values.services.controller.type "LoadBalancer" }}
  loadBalancerSourceRanges: {{ empty .Values.services.controller.loadBalancerRanges | ternary list (.Values.services.controller.loadBalancerRanges | toYaml | nindent 4) }}
{{- end }}
  ports:
    - name: manager-v1
      targetPort: manager-v1
      port: 29811
      protocol: TCP
    - name: adopt-v1
      targetPort: adopt-v1
      port: 29812
      protocol: TCP
    - name: upgrade-v1
      targetPort: upgrade-v1
      port: 29813
      protocol: TCP
    - name: manager-v2
      targetPort: manager-v2
      port: 29814
      protocol: TCP
    - name: transfer-v2
      targetPort: transfer-v2
      port: 29815
      protocol: TCP
    - name: rtty
      targetPort: rtty
      port: 29816
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "omada-controller.resourceName" (dict "ctx" . "extraResourceName" "controller-udp") }}
{{- if .Values.services.controller.additionalAnnotations }}
  annotations: {{ .Values.services.controller.additionalAnnotations | toYaml | nindent 4 }}
{{- end }}
  labels: {{ include "omada-controller.metadata.labels" . | nindent 4 }}
{{- if .Values.services.controller.additionalLabels }}
{{ .Values.services.controller.additionalLabels | toYaml | nindent 4 }}
{{- end }}
spec:
  externalTrafficPolicy: Cluster
  internalTrafficPolicy: Cluster
  selector: {{ include "omada-controller.metadata.selectorLabels" . | nindent 4 }}
  type: {{ .Values.services.controller.type }}
{{- if eq .Values.services.controller.type "LoadBalancer" }}
  loadBalancerSourceRanges: {{ empty .Values.services.controller.loadBalancerRanges | ternary list (.Values.services.controller.loadBalancerRanges | toYaml | nindent 4) }}
{{- end }}
  ports:
    - name: app-discovery
      targetPort: app-discovery
      port: 27001
      protocol: UDP
    - name: discovery
      targetPort: discovery
      port: 29810
      protocol: UDP
